head{
	text-align: center;
}

body{
	background-color: lightblue;
}
			
h1
	{color: yellow;}
h2
	{color: purple;}
h3
	{color: blue;}
	
#NavBar1{
	border-style: solid;
	margin-right: 1250;
	padding-bottom: 10;
}

#div1{
	float:left;
	width: 110;
	border-style: solid;
	line-height: 1.5;
}